# Third part

1. Start by creating a new Notebook for this assignment.

2. Use the Notebook to build the code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe.

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
wiki_url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
table_class = 'wikitable sortable'

In [2]:
response = requests.get(wiki_url)
soup = BeautifulSoup(response.text, 'lxml')
table = soup.find('table', class_ = table_class)

3. To create the above dataframe:

The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood

## works only with the borough of toronto

In [3]:
df = pd.read_html(str(table))[0]
df = df[df['Borough'].str.contains('Toronto')]
df.head()

   Postal Code           Borough                                Neighbourhood
4          M5A  Downtown Toronto                    Regent Park, Harbourfront
6          M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
13         M5B  Downtown Toronto                     Garden District, Ryerson
22         M5C  Downtown Toronto                               St. James Town
30         M4E      East Toronto                                  The Beaches

In [4]:
df.columns = ['PostalCode', 'Borough', 'Neighborhood']
df.head()

   PostalCode           Borough                                 Neighborhood
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
13        M5B  Downtown Toronto                     Garden District, Ryerson
22        M5C  Downtown Toronto                               St. James Town
30        M4E      East Toronto                                  The Beaches

Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [5]:
df = df.drop(df[df.Borough=='Not assigned'].index)
df.head()

   PostalCode           Borough                                 Neighborhood
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
13        M5B  Downtown Toronto                     Garden District, Ryerson
22        M5C  Downtown Toronto                               St. James Town
30        M4E      East Toronto                                  The Beaches

More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.

In [6]:
df2 = df[df['PostalCode'].duplicated()]
df2

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood]
Index: []

If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [7]:
df2 = df[df.Neighborhood=='Not assigned']
df2

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood]
Index: []

In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

In [8]:
df.shape

(39, 3)

In [9]:
dflocation = df
location = pd.read_csv('http://cocl.us/Geospatial_data')
location.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [10]:
dflocation['Latitude'] = 0
dflocation['Longitude'] = 0
for x in location['Postal Code']:
    dflocation.Latitude[dflocation['PostalCode']==x] = location.Latitude[location.iloc[:,0]==x][location.Latitude[location.iloc[:,0]==x].index[0]]
    dflocation.Longitude[dflocation['PostalCode']==x] = location.Longitude[location.iloc[:,0]==x][location.Longitude[location.iloc[:,0]==x].index[0]]

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [11]:
dflocation.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
4,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494
13,M5B,Downtown Toronto,"Garden District, Ryerson",43.657162,-79.378937
22,M5C,Downtown Toronto,St. James Town,43.651494,-79.375418
30,M4E,East Toronto,The Beaches,43.676357,-79.293031